name: Pull Request Docs Check

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Prepare
      run: |
        sudo apt-get update -y
        sudo apt-get install -y git python3-pip mandoc
        pip install -r docs/requirements.txt
    - name: Gen_man_pages
      run: make man
    - name: Gen_feature_matrix
      run: make feature_matrix
    - name: Gen_sphinx
      run: make html
    - uses: actions/upload-artifact@v4
      with:
        name: DocumentationHTML
        path: docs/_build/html/
